{
    "ropsten" : {
        "mnemonic": "mnemonic 12 words usag ...",
        "infura_api_key": "see https://infura.io/",
        "sender_address": "0x8888888888888888888888888888888888888888"
    },
    "live" : {
        "mnemonic": "mnemonic 12 words usag ...",
        "infura_api_key": "see https://infura.io/",
        "sender_address": "0x8888888888888888888888888888888888888888"
    }
}
